# Nomor 2

In [4]:
import pandas as pd
import numpy as np

# Data warga yang akan diubah menjadi DataFrame dari Dictionary
# ----------------------------------------------
DataWarga = {"Gender" :["Male","Male","Male","Male","Male","Male","Female","Female","Female","Female","Female","Female","Female","Female","Female",],
       "Weight" : [73.84701702, 68.78190405, 74.11010539, 71.7309784, 69.88179586, 67.25301569, 64.62329203, 65.23591282, 62.9747851 ,64.72079374, 61.99110332, 63.03448673, 61.72207869, 66.23547229, 64.94853593],
       "Height" : [241.8935632, 162.3104725, 212.7408556, 220.0424703, 206.3498006, 152.2121558, 134.6110153, 128.446415, 137.4745698, 143.8408398, 124.2630529, 125.4670161, 107.2247071, 149.4134676, 155.1331864]}
df = pd.DataFrame(DataWarga)
df
# ----------------------------------------------

    Gender     Weight      Height
0     Male  73.847017  241.893563
1     Male  68.781904  162.310473
2     Male  74.110105  212.740856
3     Male  71.730978  220.042470
4     Male  69.881796  206.349801
5     Male  67.253016  152.212156
6   Female  64.623292  134.611015
7   Female  65.235913  128.446415
8   Female  62.974785  137.474570
9   Female  64.720794  143.840840
10  Female  61.991103  124.263053
11  Female  63.034487  125.467016
12  Female  61.722079  107.224707
13  Female  66.235472  149.413468
14  Female  64.948536  155.133186

In [5]:
# Mengambil Kolom 'Height' dalam DataFrame 'df'
# ----------------------------------------------
Tinggi = np.array(df['Height'])
Tinggi.sort()
Tinggi = Tinggi.tolist()
Tinggi
# ----------------------------------------------

[107.2247071,
 124.2630529,
 125.4670161,
 128.446415,
 134.6110153,
 137.4745698,
 143.8408398,
 149.4134676,
 152.2121558,
 155.1331864,
 162.3104725,
 206.3498006,
 212.7408556,
 220.0424703,
 241.8935632]

In [6]:
#Function untuk mencari Tinggi yang lebih dari 170 namun hanya 1 diatas 170
# ----------------------------------------------
def Cari(Data,Target):
    for i in Data:
        if i > Target:
            return i
# ----------------------------------------------

In [7]:
#Mencari Jumlah Warga yang tinggi > 170 menggunakan binary search
# ----------------------------------------------
def binarysearch(data, target):
    low = 0
    high = len(data) - 1
    while low <= high:
        mid = (low + high)//2
        if target < data[mid]:
            high = mid - 1
        elif target > data[mid]:
            low = mid + 1
        else:
            return mid
# ----------------------------------------------

In [10]:
# ----------------------------------------------
Tinggi_Kurang_170 = binarysearch(Tinggi,Cari(Tinggi,170))
Banyak_Tinggi_Lebih_170 = len(Tinggi)-Tinggi_Kurang_170
print (f"Total Warga 'Suka Maju Tanpa Mundur' Yang Lebih Dari 170 cm adalah {Banyak_Tinggi_Lebih_170} Orang")
# ----------------------------------------------
print("")

Total Warga 'Suka Maju Tanpa Mundur' Yang Lebih Dari 170 cm adalah 4 Orang

In [7]:
# ----------------------------------------------
Pria_Array = np.array(df[(df['Gender'] == 'Male') & (df['Height'] > 170)])
Banyak = 0
for i in Pria_Array:
    Banyak += 1
print(f"Jumlah Laki-Laki di Warga 'Suka Maju Tanpa Mundur' yang lebih dari 170 cm adalah {Banyak} Orang")
# ----------------------------------------------
print("")

Jumlah Laki-Laki di Warga 'Suka Maju Tanpa Mundur' yang lebih dari 170 cm adalah 4 Orang

In [8]:
# ----------------------------------------------
Wanita_Array = np.array(df[(df['Gender'] == 'Female') & (df['Height'] > 170)])
Banyak = 0
for i in Wanita_Array:
    Banyak += 1
print(f"Jumlah Wanita di Warga 'Suka Maju Tanpa Mundur' yang lebih dari 170 cm adalah {Banyak} Orang")
# ----------------------------------------------

Jumlah Wanita di Warga 'Suka Maju Tanpa Mundur' yang lebih dari 170 cm adalah 0 Orang

# NOMOR 3

In [11]:
import pandas as pd
import numpy as np

Data_Mahasiswa ={'NIM':[1206210001,1206210002,1206210003,1206210004,1206210005,
             1206210006,1206210007,1206210008,1206210009,1206210010,
             1206210011,1206210012,1206210013,1206210014,1206210015,
             1206210016,1206210017,1206210018,1206210019,1206210020,
             1206210021,1206210022,1206210023],
      'Nama':['Tarisma Dwi Putri Alifianti','Irma Octavia Chaniago','Ayudya Nur Rahmadina',
              'Thesion Marta Sianipar','Rahmat Sigit Hidayat','Farhan Nanda Prihamudi',
              'Fikrie Hartanta Sembiring','Muhammad Sirojul Muttaqin','Rizal Rahman Rizkika',
              'Halim Arif Cahyono','Rendika Nurhartanto Suharto','Senna Yoga Abira',
              'Angel Tarigan','Ryanta Meylinda Savira','Miranthy Pramita Ningtyas',
              'Avriono Aritonang','Inge Faradila Efaranti','Winalda Risky Febriyanti',
              'Ananda Taqhsya Dwiyana','Astikhatul Mufaidah','Dida Ardzis Hanana',
              'Annas Thasya Haafizhah Salsabiila','Febrian Farda Hasdikiyah'],
      'Umur':[18, 19, 19, 19 ,18, 20, 18, 19, 19, 20,
              17, 19, 19, 20 ,20, 19, 19, 20, 19, 18,
              18, 19, 19],
      'IPK':[3.55, 3.37, 3.85, 3.97 ,3.85, 3.55, 3.77, 3.80, 3.57 ,3.65,
             3.65, 3.30, 3.80, 3.55 ,3.25, 3.35, 3.47, 3.65, 3.55 ,3.65,
             3.15, 3.45, 3.50,]
           }
df = pd.DataFrame(Data_Mahasiswa)
NIM = np.array(df['NIM'])

In [14]:
def Linear_Searching(Data, x):
    n = len(Data)
    for i in range(n):
        if (Data[i] == x):
            return i
    return -1

for i in range(5):
    NIM_Random = np.random.randint(1206210001,1206210024)
    NIM_Terpilih = Linear_Searching(NIM,NIM_Random)
    if NIM_Terpilih != -1 :
        print(df.iloc[NIM_Terpilih])
    for i in range (1) :
        Waktu = %timeit Linear_Searching(NIM,NIM_Random)

NIM                    1206210007
Nama    Fikrie Hartanta Sembiring
Umur                           18
IPK                          3.77
Name: 6, dtype: object
1.75 µs ± 21.6 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)
NIM                    1206210008
Nama    Muhammad Sirojul Muttaqin
Umur                           19
IPK                           3.8
Name: 7, dtype: object
1.94 µs ± 15.2 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)
NIM        1206210013
Nama    Angel Tarigan
Umur               19
IPK               3.8
Name: 12, dtype: object
2.91 µs ± 19.7 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)
NIM                      1206210001
Nama    Tarisma Dwi Putri Alifianti
Umur                             18
IPK                            3.55
Name: 0, dtype: object
533 ns ± 7.48 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)
NIM        1206210013
Nama    Angel Tarigan
Umur               19
IPK               3.8
Name: 12, dtype: object
2.94 µs ± 68.5 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [15]:
def Binary_Searching (Data,x):
    left = 0
    right = len(Data)-1
    mid = 0
    while left <= right:
        mid = (right+left)//2
        if Data[mid] < x:
            left = mid + 1
        elif Data[mid] > x:
            right = mid - 1
        else:
            return mid
    return -1

for i in range(5):
    NIM_Random = np.random.randint(1206210001,1206210024)
    NIM_Terpilih = Binary_Searching(NIM,NIM_Random)
    if NIM_Terpilih != -1 :
        print(df.iloc[NIM_Terpilih])
    for i in range (1) :
        Waktu = %timeit Binary_Searching(NIM,NIM_Random)

NIM                1206210002
Nama    Irma Octavia Chaniago
Umur                       19
IPK                      3.37
Name: 1, dtype: object
2.44 µs ± 78.5 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)
NIM                            1206210022
Nama    Annas Thasya Haafizhah Salsabiila
Umur                                   19
IPK                                  3.45
Name: 21, dtype: object
1.48 µs ± 4.97 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)
NIM                 1206210006
Nama    Farhan Nanda Prihamudi
Umur                        20
IPK                       3.55
Name: 5, dtype: object
1.16 µs ± 14.6 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)
NIM             1206210021
Nama    Dida Ardzis Hanana
Umur                    18
IPK                   3.15
Name: 20, dtype: object
1.22 µs ± 12.6 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)
NIM                      1206210011
Nama    Rendika Nurhartanto Suharto
Umur                             17
IPK                            3.65
Name: 10, dtype: object
1.99 µs ± 23.6 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

# Cara Lain Untuk Mencari Time Excution

In [11]:

# program to compute the time of
# execution of any python code using timit
 
# importing the required module
import timeit
 
# code snippet to be executed only once
mysetup = "from math import sqrt"
 
# code snippet whose execution time
# is to be measured
mycode = '''
import pandas as pd
import numpy as np

Data_Mahasiswa ={'NIM':[1206210001,1206210002,1206210003,1206210004,1206210005,
             1206210006,1206210007,1206210008,1206210009,1206210010,
             1206210011,1206210012,1206210013,1206210014,1206210015,
             1206210016,1206210017,1206210018,1206210019,1206210020,
             1206210021,1206210022,1206210023],
      'Nama':['Tarisma Dwi Putri Alifianti','Irma Octavia Chaniago','Ayudya Nur Rahmadina',
              'Thesion Marta Sianipar','Rahmat Sigit Hidayat','Farhan Nanda Prihamudi',
              'Fikrie Hartanta Sembiring','Muhammad Sirojul Muttaqin','Rizal Rahman Rizkika',
              'Halim Arif Cahyono','Rendika Nurhartanto Suharto','Senna Yoga Abira',
              'Angel Tarigan','Ryanta Meylinda Savira','Miranthy Pramita Ningtyas',
              'Avriono Aritonang','Inge Faradila Efaranti','Winalda Risky Febriyanti',
              'Ananda Taqhsya Dwiyana','Astikhatul Mufaidah','Dida Ardzis Hanana',
              'Annas Thasya Haafizhah Salsabiila','Febrian Farda Hasdikiyah'],
      'Umur':[18, 19, 19, 19 ,18, 20, 18, 19, 19, 20,
              17, 19, 19, 20 ,20, 19, 19, 20, 19, 18,
              18, 19, 19],
      'IPK':[3.55, 3.37, 3.85, 3.97 ,3.85, 3.55, 3.77, 3.80, 3.57 ,3.65,
             3.65, 3.30, 3.80, 3.55 ,3.25, 3.35, 3.47, 3.65, 3.55 ,3.65,
             3.15, 3.45, 3.50,]
           }
df = pd.DataFrame(Data_Mahasiswa)
NIM = np.array(df['NIM'])

def Linear_Searching(Data, x):
    n = len(Data)
    for i in range(n):
        if (Data[i] == x):
            return i
    return -1

for i in range(5):
    NIM_Random = np.random.randint(1206210001,1206210024)
    NIM_Terpilih = Linear_Searching(NIM,NIM_Random)
    if NIM_Terpilih != -1 :
        print(df.iloc[NIM_Terpilih])
'''
 
# timeit statement
print ("The time of execution of above program is :",
       timeit.timeit(setup = mysetup,
                    stmt = mycode,
                    number = 1,))

NIM                      1206210001
Nama    Tarisma Dwi Putri Alifianti
Umur                             18
IPK                            3.55
Name: 0, dtype: object
NIM                 1206210017
Nama    Inge Faradila Efaranti
Umur                        19
IPK                       3.47
Name: 16, dtype: object
NIM               1206210009
Nama    Rizal Rahman Rizkika
Umur                      19
IPK                     3.57
Name: 8, dtype: object
NIM                 1206210004
Nama    Thesion Marta Sianipar
Umur                        19
IPK                       3.97
Name: 3, dtype: object
NIM                      1206210001
Nama    Tarisma Dwi Putri Alifianti
Umur                             18
IPK                            3.55
Name: 0, dtype: object
The time of execution of above program is : 0.0052728000000001884

In [12]:
# program to compute the time
# of execution of any python code
import time
 
# we initialize the variable start
# to store the starting time of
# execution of program
start = time.time()
 
# we can take any program but for
# example we have taken the below
# program
a = 0
for i in range(10000000):
    a += (i**100)
 
# now we have initialized the variable
# end to store the ending time after
# execution of program
end = time.time()
 
# difference of start and end variables
# gives the time of execution of the
# program in between
print("The time of execution of above program is :", end-start)

The time of execution of above program is : 27.985584497451782

In [13]:

# program to compute the time of
# execution of any python code using timit
 
# importing the required module
import timeit
 
# code snippet to be executed only once
mysetup = "from math import sqrt"
 
# code snippet whose execution time
# is to be measured
mycode = '''
def example():
    mylist = []
    for x in range(100):
        mylist.append(sqrt(x))
'''
 
# timeit statement
print ("The time of execution of above program is :",
       timeit.timeit(setup = mysetup,
                    stmt = mycode,
                    number = 10000))

The time of execution of above program is : 0.0010130000000003747

In [14]:
from timeit import timeit
timeit("""
import pandas as pd
import numpy as np
""")

0.28497909999998683