In [2]:
Contoh_List = ["Rendika","Nurhartanto","Suharto",1206210011]
print(Contoh_List)

['Rendika', 'Nurhartanto', 'Suharto', 1206210011]

In [15]:
import array as arr
Contoh_Array = arr.array ('i', [1206210011,22,10,2003])
print(Contoh_Array)

array('i', [1206210011, 22, 10, 2003])

In [12]:
import numpy as np
Contoh_Array_2 = np.array([1,2,3,4,5])
print(Contoh_Array_2)

[1 2 3 4 5]

In [30]:
import pandas as pd
Dict = {'Nama' : ['Rendika', 'Bae Suzy', 'Shin Min A', 'Song Hye Kyo'], 
        'Sex' : ['Laki-laki','Perempuan','Perempuan','Perempuan'], 
        'Status' : ['Menikah','Menikah','Single','Single']}

df = pd.DataFrame(Dict,index = ["One","Two","Three","Four"])
df

               Nama        Sex   Status
One         Rendika  Laki-laki  Menikah
Two        Bae Suzy  Perempuan  Menikah
Three    Shin Min A  Perempuan   Single
Four   Song Hye Kyo  Perempuan   Single

In [7]:
def SelectionSort(data):
  n=len(data)
  for i in range(n-1):
    minValueIndex=i

    for j in range(i+1, n):
      if data[j]<data[minValueIndex]:
        minValueIndex=j

    if minValueIndex != i :
      temp=data[i]
      data[i]=data[minValueIndex]
      data[minValueIndex]=temp
  return data

List = [5,2,4,6,1,3]
SelectionSort(List)

[1, 2, 3, 4, 5, 6]

In [16]:
def MergeSort(Data):
  if len(Data)>1:
    mid = len(Data)//2
    lefthalf = Data[:mid]
    righthalf = Data[mid:]
    mergeSort(lefthalf)
    mergeSort(righthalf)
    i=j=k=0
    while i<len(lefthalf) and j<len(righthalf):
      if lefthalf[i]<righthalf[i]:
        Data[k] = lefthalf[i]
        i=i+1
      else:
        Data[k]=righthalf[j]
        j=j+1
      k=k+1
    while i < len(lefthalf):
      Data[k]=lefthalf[i]
      i = i+1
      k = k+1
    while j<len(righthalf):
      Data[k]=righthalf[j]
      j = j+1
      k=k+1

Data=[6,5,3,1,8,7,2,4]
mergeSort(Data)
print(Data)

[1, 3, 5, 6, 2, 4, 7, 8]

In [12]:
def Partition(Data, low, high):
  i = (low-1)
  pivot = Data[high]

  for j in range(low, high):
    if Data[j] <= pivot:
      i += 1
      Data[i], Data[j] = Data[j], Data[i]
  Data[i+1], Data[high] = Data[high], Data[i+1]
  return (i+1)

def QuickSort(Data,low,high):
  if len(Data) == 1:
    return Data
  if low < high:
    pi = Partition(Data,low,high)
    QuickSort(Data,low,pi-1)
    QuickSort(Data,pi+1,high)

Data = [35, 33, 42, 10, 14, 19, 27, 44, 26, 31]
n = len(Data)
QuickSort(Data,0,n-1)
print("Sorted:")
print(Data)

Sorted:
[10, 14, 19, 26, 27, 31, 33, 35, 42, 44]