In [12]:
Data = ["Red", "Orange", "Blue", "Green"]

Data.reverse()
print(Data)

['Green', 'Blue', 'Orange', 'Red']

In [18]:
Data = ["Red", "Orange", "Blue", "Green"]
Data2 = [6, 3, 2, 5, 1, 4]

Data.sort()
Data2.sort()

print(Data)
print(Data2)

['Blue', 'Green', 'Orange', 'Red']
[1, 2, 3, 4, 5, 6]

In [ ]:
#Membalikkan urutan daftar

In [4]:
#Menggabungkan antara list 1 dengan lainnya

Data1 = ["Rendika", "Nurhartanto", "Suharto", 7, 70, 100]
Data2 = ["Bandung", "Jogja", "Malang", "Kediri", "Pamekasan"]
Data3 = ["Minggu","Senin","Rabu","Jum'at","Sabtu"]

DataX = Data1 + Data2 + Data3

print(DataX)

['Rendika', 'Nurhartanto', 'Suharto', 7, 70, 100, 'Bandung', 'Jogja', 'Malang', 'Kediri', 'Pamekasan', 'Minggu', 'Senin', 'Rabu', "Jum'at", 'Sabtu']

In [26]:
data = ["Nonton", "Olahraga", "Jalan-Jalan", "Baca", "Main", "Makan", "Tidur"]
print(data[1:3], "\n")

data = ["Nonton", "Olahraga", "Jalan-Jalan", "Baca", "Main", "Makan", "Tidur"]
print(data[:5], "\n")

data = ["Nonton", "Olahraga", "Jalan-Jalan", "Baca", "Main", "Makan", "Tidur"]
print(data[4:], "\n")

data = ["Nonton", "Olahraga", "Jalan-Jalan", "Baca", "Main", "Makan", "Tidur"]
print(data[-6:-2], "\n")

['Olahraga', 'Jalan-Jalan']

['Nonton', 'Olahraga', 'Jalan-Jalan', 'Baca', 'Main']

['Main', 'Makan', 'Tidur']

['Olahraga', 'Jalan-Jalan', 'Baca', 'Main']

In [7]:
#Untuk menentukan apakah item tertentu ada dalam data
data = ["apple", "banana", "cherry"]
if "apple" in data:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [35]:
electronic = ["Laptop", "Handphone", "Komputer", "Printer"]

electronic.pop() 
print(electronic)

['Laptop', 'Handphone', 'Komputer']

In [ ]:
#Untuk menghapus isi dalam list sesuai perintah yang diberikan

In [41]:
MatKul = ["Alpro", "Pengantar Sains Data", "Kalkulus", "Fisika Dasar", "Literasi TIK"]  #Old List

Belajar = MatKul.copy()  #New List
print("Saya belajar tentang", Belajar, "Di perkuliahan \n")

MatKul.append("Pendidikan Agama")  #Old List
Belajar.append("Pancasila")  #New List

print(MatKul)  #Old List
print(Belajar)  #New List

Saya belajar tentang ['Alpro', 'Pengantar Sains Data', 'Kalkulus', 'Fisika Dasar', 'Literasi TIK'] Di perkuliahan

['Alpro', 'Pengantar Sains Data', 'Kalkulus', 'Fisika Dasar', 'Literasi TIK', 'Pendidikan Agama']
['Alpro', 'Pengantar Sains Data', 'Kalkulus', 'Fisika Dasar', 'Literasi TIK', 'Pancasila']

In [24]:
nilai_1 = [2,3,7]
nilai_2 = [5,4,1]
jumlah = sum(nilai_1 + nilai_2)
print(jumlah)

22

In [11]:
mylist = ["Rendika", 7, "Naruto", 8.6, "Sasuke", 9]
print(type(mylist[0]))
print(type(mylist[3]))
print(type(mylist[-1]))

<class 'str'>
<class 'float'>
<class 'int'>

In [7]:
Angka = [50,25,10,15,35]
print(max(Angka))

50

In [8]:
Angka = [50,25,10,15,35]
sum(Angka)

135

In [9]:
Angka = [50,25,10,15,35]
print(min(Angka))

10

In [ ]:
#max untuk menentukan nilai terbesar & min untuk menentukan nilai terkecil