In [43]:
Bebas = {"Biodata Mahasiswa 1" : {"Nama":"Rendika", "NIM" : 1206210011, "Prodi" : "Sains Data"},
        "Biodata Mahasiswa 2" : {"Nama":"Halim", "NIM" : 1206210009 , "Prodi" : "Sains Data"},
        "Biodata Mahasiswa 3" : {"Nama":"Winalda", "NIM" : 1206210018 , "Prodi" : "Sains Data"},
        "Biodata Mahasiswa 4" : {"Nama":"Ryanta", "NIM" : 1206210014 , "Prodi" : "Sains Data"},
        "Biodata Mahasiswa 5" : {"Nama":"Dida", "NIM" : 1206210021, "Prodi" : "Sains Data"}}

In [44]:
print(Bebas)

{'Biodata Mahasiswa 1': {'Nama': 'Rendika', 'NIM': 1206210011, 'Prodi': 'Sains Data'}, 'Biodata Mahasiswa 2': {'Nama': 'Halim', 'NIM': 1206210009, 'Prodi': 'Sains Data'}, 'Biodata Mahasiswa 3': {'Nama': 'Winalda', 'NIM': 1206210018, 'Prodi': 'Sains Data'}, 'Biodata Mahasiswa 4': {'Nama': 'Ryanta', 'NIM': 1206210014, 'Prodi': 'Sains Data'}, 'Biodata Mahasiswa 5': {'Nama': 'Dida', 'NIM': 1206210021, 'Prodi': 'Sains Data'}}

In [45]:
for i,j in Bebas.items() :
    print(i, ":")
    for a, b in Bebas[i].items():
        print('\t',a,":",b)

Biodata Mahasiswa 1 :
	 Nama : Rendika
	 NIM : 1206210011
	 Prodi : Sains Data
Biodata Mahasiswa 2 :
	 Nama : Halim
	 NIM : 1206210009
	 Prodi : Sains Data
Biodata Mahasiswa 3 :
	 Nama : Winalda
	 NIM : 1206210018
	 Prodi : Sains Data
Biodata Mahasiswa 4 :
	 Nama : Ryanta
	 NIM : 1206210014
	 Prodi : Sains Data
Biodata Mahasiswa 5 :
	 Nama : Dida
	 NIM : 1206210021
	 Prodi : Sains Data

In [ ]:
Biodata = {}
Ulangi = "Ya"

while Ulangi == "Ya" :
    Nama = input("Masukkan Nama : ")
    NIM = int(input("Masukkan NIM : "))
    Biodata.update({Nama : NIM})
    Ulangi = input("Apakah mau diulangi (Ya/Tidak) : ")

for i, j in Biodata.items():
  print("\n" ,"Nama : ", i, "\n" , "NIM = ", j)

In [ ]:
Biodata = {}
Ulangi = True

while Ulangi == True :
    Nama = input("Masukkan Nama : ")
    NIM = input("Masukkan NIM : ")
    Biodata.update({Nama : NIM})
    Ulangi = input("Apakah mau diulangi (Ya/Tidak) : ")
    if Ulangi == "Ya" :
        Ulangi = True
    else :
        Ulangi = False

for i, j in Biodata.items():
  print("\n" ,"Nama : ", i, "\n" , "NIM = ", j)

In [ ]:
data_mahasiswa = {}
repeat = 'y'
count = 0
while repeat == 'y':
    nama = input("Masukan nama anda = ")
    nim = int(input("Masukan NIM anda = "))
    repeat = input("Apakah anda ingin mengulangi (y/n) = ")
    count += 1
    data_mahasiswa.update(
        {f'mahasiwa{count}':
            {
                "nama": nama,
                "nim": nim,
             }
        }
    )

for i, data in enumerate(data_mahasiswa.values()):
    print(f'Nama Mahasiswa {i+1} = {data["nama"]}')
    print(f'NIM Mahasiswa {i+1} =  {data["nim"]}')