In [1]:
import pandas as pd
import numpy as np
datatinggi = {"Gender" :["Male","Male","Male","Male","Male","Male","Female","Female","Female","Female","Female","Female","Female","Female","Female",],
       "Weight" : [73.84701702, 68.78190405, 74.11010539, 71.7309784, 69.88179586, 67.25301569, 64.62329203, 65.23591282, 62.9747851 ,64.72079374, 61.99110332, 63.03448673, 61.72207869, 66.23547229, 64.94853593],
       "Height" : [241.8935632, 162.3104725, 212.7408556, 220.0424703, 206.3498006, 152.2121558, 134.6110153, 128.446415, 137.4745698, 143.8408398, 124.2630529, 125.4670161, 107.2247071, 149.4134676, 155.1331864]}

df = pd.DataFrame(datatinggi)
df

arr1 = np.array(df['Height'])
arr2 = np.array(df['Gender'])
print(arr1)
print(arr2)

#jumlah orang yang tinggi >170 menggunakan binary search
def binarysearch(data, target):
    arr1.sort()
    low = 0
    high = len(data) - 1
    while low <= high:
        mid = (low + high)//2
        if target < data[mid]:
            high = mid - 1
        elif target > data[mid]:
            low = mid + 1
        else:
            return mid
tinggi = binarysearch(arr1, 206.3498006)
totaltinggi = len(arr1)-tinggi
print("Total orang dengan tinggi >170 ada", totaltinggi, "Orang")

#Menggunakan linear search
x = 0
c= 0
for i in arr1:
    if arr1[c] > 170:
        print(arr1[c])
        x += 1
        c += 1
    else:
        c += 1
print("Total orang dengan tinggi >170 ada", x, "orang")

L = df[(df['Gender'] == 'Male')& (df['Height'] > 170)]
L.loc[0:, ['Gender','Height']]

ar1 = np.array(df[(df['Gender'] == 'Male') & (df['Height'] > 170)])
x = 0
for i in ar1:
    x +=1
print("laki-laki yang memiliki tinggi >170 ada", x, "orang")


df[(df['Gender'] == 'Female')& (df['Height'] > 170)]
ar2 =np.array(df[(df['Gender'] == 'Female') & (df['Height'] > 170)])
y = 0
for i in ar2:
    x +=1
print("perempuan yang memiliki tinggi >170 ada", y, "orang")

[241.8935632 162.3104725 212.7408556 220.0424703 206.3498006 152.2121558
 134.6110153 128.446415  137.4745698 143.8408398 124.2630529 125.4670161
 107.2247071 149.4134676 155.1331864]
['Male' 'Male' 'Male' 'Male' 'Male' 'Male' 'Female' 'Female' 'Female'
 'Female' 'Female' 'Female' 'Female' 'Female' 'Female']
Total orang dengan tinggi >170 ada 4 Orang
206.3498006
212.7408556
220.0424703
241.8935632
Total orang dengan tinggi >170 ada 4 orang
laki-laki yang memiliki tinggi >170 ada 4 orang
perempuan yang memiliki tinggi >170 ada 0 orang

In [2]:
import pandas as pd
import numpy as np
data = {'NIM' : [1206210010, 1206210009, 1206210012, 1206210011, 1206210007], 
        'Nama' : ['Rizal', 'Halim', 'Senna', 'Rendika',  'Fikri'], 
        'Usia' : [18,18,18,18,18],
        'IPK': [3.7, 3.5,3.6,3.9,3.8]}
df = pd.DataFrame(data)
df

          NIM     Nama  Usia  IPK
0  1206210010    Rizal    18  3.7
1  1206210009    Halim    18  3.5
2  1206210012    Senna    18  3.6
3  1206210011  Rendika    18  3.9
4  1206210007    Fikri    18  3.8

In [3]:
arr = np.array(df['NIM'])
def binary (arr,x):
    left = 0
    right = len(arr)-1
    mid = 0
    while left <= right:
        mid = (right+left)//2
        if arr[mid] < x:
            left = mid + 1
        elif arr[mid] > x:
            right = mid - 1
        else:
            return mid
    return -1
x = 1206210007
a = binary(arr, x)
print(a)
if a != -1:
    print(df.iloc[a])
else:
    print("Tidak ditemukan")

-1
Tidak ditemukan

In [4]:
print(arr)

[1206210010 1206210009 1206210012 1206210011 1206210007]

In [5]:
def linear(array, n, x):
    for i in range(0, n):
        if (array[i] == x):
            return i
    return -1

x = 1206210010
n = len(df)
result = linear(arr, n, x)
if result != -1:
    print(df.iloc[result])
else:
    print("Tidak ditemukan")

NIM     1206210010
Nama         Rizal
Usia            18
IPK            3.7
Name: 0, dtype: object

In [13]:
import pandas as pd
import numpy as np
data = {'NIM' : [1206210011, 1206210009, 1206210012, 1206210007, 1206210010], 
        'Nama' : ['Rendika', 'Halim', 'Senna', 'Fikri', 'Rizal'], 
        'Usia' : [18,18,18,18,18],
        'IPK': [3.5, 3.5,3.6,3.9,3.8]}
df = pd.DataFrame(data)
df

#----------------------------------------------------------------------------

arr = np.array(df['NIM'])
def binary (ar, x):
    left = 0
    right = len(arr)-1
    mid = 0
    while left <= right:
        mid = (right+left)//2
        if arr[mid] < x:
            left = mid + 1
        elif arr[mid] > x:
            right = mid - 1
        else:
            return mid
    return -1
x = 1206210010
a = binary(arr, x)
if a != -1:
    print(df.iloc[a])
else:
    print("Tidak ditemukan")

#----------------------------------------------------------------------------

Tidak ditemukan

In [28]:
def linear(array, n, x):
    for i in range(0, n):
        if (array[i] == x):
            return i
    return -1

x = 1206210011
n = len(df)
result = linear(arr, n, x)
if result != -1:
    print(df.iloc[result])
else:
    print("Tidak ditemukan")
    
List = []
for i in range (11) :
    Waktu = %timeit linear(arr, n, x)
    List.append(Waktu)
print(List)

SyntaxError: invalid syntax (3693635964.py, line 17)