# Array

In [3]:
import array as arr

Batasan = int(input("Masukkan batasan Array : "))
Array_1 = arr.array("i",[])

for i in range(Batasan) :
        A = int(input("Masukkan Angka Yang Ingin Ditambahkan Ke Dalam Array : "))
        Array_1.append(A)
print(Array_1)

Masukkan batasan Array : 5
Masukkan Angka Yang Ingin Ditambahkan Ke Dalam Array : 1
Masukkan Angka Yang Ingin Ditambahkan Ke Dalam Array : 1
Masukkan Angka Yang Ingin Ditambahkan Ke Dalam Array : 1
Masukkan Angka Yang Ingin Ditambahkan Ke Dalam Array : 2
Masukkan Angka Yang Ingin Ditambahkan Ke Dalam Array : 3
array('i', [1, 1, 1, 2, 3])

In [55]:
import array as arr

Array_1 = arr.array("i",[1,2,3,4,5])
Another_Array = arr.array("i",[6,7,8,9,10])

Array_1.extend(Another_Array)
print("Array Setelah di Extend :",Array_1)

Array_1.append(11)
Array_1.append(12)
print("Array Setelah di Append :",Array_1)

Array Setelah di Extend : array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
Array Setelah di Append : array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

In [2]:
import array as arr

Array_1 = arr.array("i",[1,2,3,4,5,6,7,8,9,10,11,12])

del Array_1 [0] #Menggunakan Index dari Array
Array_1.remove(11)
Array_1.remove(12)
print("Array Setelah Mengurangi Anggotanya :",Array_1)

Array Setelah Mengurangi Anggotanya : array('i', [2, 3, 4, 5, 6, 7, 8, 9, 10])

In [50]:
import array as arr

Array_1 = arr.array("i",[2,3,4,5,6,7,8,9,10])

del Array_1
print(Array_1)
#Muncul eror karena array telah di hapus secara keseluruhan

NameError: name 'Array_1' is not defined

In [86]:
from numpy import *

Array_2 = array([10,20,30,40,50,60,70])
# |New_Array_2 = Array_2.copy()| Array tidak punya attribute copy
print("Array Sebelum di Copy :",Array_2)
New_Array = Array_2.copy()
print("Array Sesudah di Copy :",New_Array)

Array Sebelum di Copy : [10 20 30 40 50 60 70]
Array Sesudah di Copy : [10 20 30 40 50 60 70]

# List

In [88]:
batasan = int(input("masukkan batasan list : "))
List = []
for i in range(batasan):
    a = int(input("masukkan anggota: "))
    List.append(a)
print(List)

masukkan batasan list : 2
masukkan anggota: 1
masukkan anggota: 2
[1, 2]

In [96]:
Kota = ["Tokyo", "Nairobi", "Berlin"]

Kota.append("Oslo")
Kota.append("Moskow")
print("Menggunakan Append :",Kota)

Kota.extend(["Rio", "Denver", "Helsinki"])
print("Menggunakan Extend :",Kota)

Menggunakan Append : ['Tokyo', 'Nairobi', 'Berlin', 'Oslo', 'Moskow']
Menggunakan Extend : ['Tokyo', 'Nairobi', 'Berlin', 'Oslo', 'Moskow', 'Rio', 'Denver', 'Helsinki']

In [106]:
Negara = ["Luksemburg","Swiss","Irlandia","Norwegia","Amerika","Denmark","Surabaya","Pamekasan","Semarang","Bali"]

Negara.remove("Pamekasan")
Negara.remove("Semarang")
print("Mengurangi Anggota Menggunakan Remove :", Negara)

del Negara[7]
del Negara[6]
print("Mengurangi Anggota Menggunakan Del :", Negara)

Mengurangi Anggota Menggunakan Remove : ['Luksemburg', 'Swiss', 'Irlandia', 'Norwegia', 'Amerika', 'Denmark', 'Surabaya', 'Bali']
Mengurangi Anggota Menggunakan Del : ['Luksemburg', 'Swiss', 'Irlandia', 'Norwegia', 'Amerika', 'Denmark']

In [107]:
Hari = ["Senin","Selasa","Rabu","Kamis","Jum'at","Sabtu","Minggu"]

Hari.clear() #Clear Menghapus Semua Isi Dari Suatu List
print(Hari)

[]

In [131]:
MatKul = ["Alpro", "Pengantar Sains Data", "Kalkulus", "Literasi TIK"]  #Old List

Belajar = MatKul.copy()  #New List
print("Saya belajar tentang", MatKul, "Di perkuliahan \n")
print("Saya Suka Dengan Pelajaran", Belajar)

Saya belajar tentang ['Alpro', 'Pengantar Sains Data', 'Kalkulus', 'Literasi TIK'] Di perkuliahan

Saya Suka Dengan Pelajaran ['Alpro', 'Pengantar Sains Data', 'Kalkulus', 'Literasi TIK']

# Dict

In [122]:
Jumlah = int(input("Masukkan ingin berapa item di dalam Dictonary :"))
dict_1 ={}  

for i in range(Jumlah):        
    Item = input("Isikan input dengan contoh : | User Admin | (Menggunakan Spasi Untuk Split)").split()     
    dict_1[Item[0]] = Item[1] #assign item pertama sebagai key dan item kedua sebagai Value pada Dictionary

print(dict_1)
print(dict_1["Nama"])

Masukkan ingin berapa item di dalam Dictonary :2
Isikan input dengan contoh : | User Admin | (Menggunakan Spasi Untuk Split)Nama Rendika
Isikan input dengan contoh : | User Admin | (Menggunakan Spasi Untuk Split)Gender Pria
{'Nama': 'Rendika', 'Gender': 'Pria'}
Rendika

In [129]:
Dictionary = {"Nama":"Rendika","Gender":"Pria"}

Dictionary["Umur"] = 18
Dictionary["Hoby"] = "Tidur"

print("Dictionary Setelah Ditambahkan :",Dictionary)

Dictionary Setelah Ditambahkan : {'Nama': 'Rendika', 'Gender': 'Pria', 'Umur': 18, 'Hoby': 'Tidur'}

In [128]:
Dictionary_2 = {'Nama': 'Rendika', 'Gender': 'Pria', 'Umur': 18, 'Hoby': 'Tidur'}

del Dictionary_2["Hoby"]
print("Menguragi Dictionary Menggunakan Del :",Dictionary_2)

Menguragi Dictionary Menggunakan del : {'Nama': 'Rendika', 'Gender': 'Pria', 'Umur': 18}

In [133]:
Dictionary = {"Nama":"Rendika","Gender":"Pria"}
Dictionary_2 = {'Nama': 'Rendika', 'Gender': 'Pria', 'Umur': 18, 'Hoby': 'Tidur'}

Dictionary.clear()
Dictionary_2.clear()

print("Menghapus Semua Item Didalam Dictionary :",Dictionary,Dictionary_2)

Menghapus Semua Item Didalam Dictionary : {} {}

In [137]:
Orang_Terkaya_Didunia = {1:"Elon Musk",2:"Jeff Bezos",3:"Bill Gates"}
Kaya_Banget = Orang_Terkaya_Didunia.copy()

print(Kaya_Banget[1])
print(Kaya_Banget[2])
print(Kaya_Banget[3])

Elon Musk
Jeff Bezos
Bill Gates

# Set

In [18]:
Set_1 = set(())
A = int(input("Berapa Panjang Set Yang Kamu Inginkan :"))

for i in range(A) :
    B = input("Masukkan Item Yang ingin Ditambahkan Kedalam Set :")
    Set_1.add(B)

print(Set_1)

print("\n------------------\n")

Item_1 = input("Masukkan Item Yang Ingin Anda Tambahkan :").split()
Set_1 = set(Item_1)
print(Set_1)

Berapa Panjang Set Yang Kamu Inginkan :4
Masukkan Item Yang ingin Ditambahkan Kedalam Set :Rendika
Masukkan Item Yang ingin Ditambahkan Kedalam Set :Nurhartanto
Masukkan Item Yang ingin Ditambahkan Kedalam Set :Suharto
Masukkan Item Yang ingin Ditambahkan Kedalam Set :1206210011
{'1206210011', 'Nurhartanto', 'Suharto', 'Rendika'}

 ------------------

Masukkan Item Yang Ingin Anda Tambahkan :Rendika Nurhartanto Suharto 1206210011
{'1206210011', 'Nurhartanto', 'Suharto', 'Rendika'}

In [28]:
Buah = {"Apel", "Pisang", "Semangka"}
Minuman = ["Jus","Es Teh","Es Jeruk"]

Buah.add("Rambutan")
print("Menambah str(Rambutan) Kedalam Set :",Buah)

Buah.update(Minuman)
print("Menambah item dari variabel Minuman kedalam set Buah :",Buah)

Menambah str(Rambutan) Kedalam Set : {'Rambutan', 'Pisang', 'Semangka', 'Apel'}
Menambah item dari variabel Minuman kedalam set Buah : {'Jus', 'Rambutan', 'Es Jeruk', 'Semangka', 'Pisang', 'Es Teh', 'Apel'}

In [30]:
Buah = {"Apel", "Pisang", "Semangka"}
Minuman = ["Jus","Es Teh","Es Jeruk"]

Buah.remove("Pisang")
Minuman.pop()  #Menurangi Item yang berada pada indeks terakhir
print("Mengurangi Item Yang Ada Didalam Set :",Buah)
print("Mengurangi Item Yang Ada Didalam Set :",Minuman)

Mengurangi Item Yang Ada Didalam Set : {'Semangka', 'Apel'}
Mengurangi Item Yang Ada Didalam Set : ['Jus', 'Es Teh']

In [36]:
Buah = {"Apel", "Pisang", "Semangka"}
Minuman = {"Jus","Es Teh","Es Jeruk"}

Buah.clear()
Minuman.clear()

print(Buah,Minuman)

set() set()

In [39]:
Makanan = {"Bubur", "Rendang", "Nasi Goreng"}
Food = Makanan.copy()
print("My Favorite Food Is",Food)

My Favorite Food Is {'Bubur', 'Nasi Goreng', 'Rendang'}

# Tuple

In [ ]:
Tuple_1 = ()
L = list(Tuple_1)
X = input("Masukkan Item Yang Diinginkan (Antar Item Dipisahkan Dengan Tanda Koma(,)) :")
L.append(X)

print(tuple(L))

In [58]:
Avangers = ("Iron-man", "Thor", "Spiderman")
y = ("Hulk","Hawkeye","Captain Amerika")
Avangers += y

print(Avangers)

('Iron-man', 'Thor', 'Spiderman', 'Hulk', 'Hawkeye', 'Captain Amerika')

In [73]:
Avangers = ('Iron-man', 'Thor', 'Spiderman', 'Hulk', 'Hawkeye', 'Captain Amerika', 'Rendika', 1206210011)
Marvel = list(Avangers)
Marvel.remove("Rendika")
Marvel.remove(1206210011)

print(tuple(Marvel))

('Iron-man', 'Thor', 'Spiderman', 'Hulk', 'Hawkeye', 'Captain Amerika')

In [74]:
Avangers = ('Iron-man', 'Thor', 'Spiderman', 'Hulk', 'Hawkeye', 'Captain Amerika', 'Rendika', 1206210011)
Marvel = list(Avangers)
Marvel.clear()

print(tuple(Marvel))

()

In [75]:
Avangers = ('Iron-man', 'Thor', 'Spiderman', 'Hulk', 'Hawkeye', 'Captain Amerika', 'Rendika', 1206210011)
Marvel = list(Avangers)
SuperHero = Marvel.copy()

print("Saya Sangat Mengidolakan :",SuperHero)

Saya Sangat Mengidolakan : ['Iron-man', 'Thor', 'Spiderman', 'Hulk', 'Hawkeye', 'Captain Amerika', 'Rendika', 1206210011]