In [2]:
import numpy as np
import pandas as pd
# pd.set_option("display.max_column", None)
df = pd.read_excel("FileDataSet_PakOby/Data Kuesioner Calon Mahasiswa.xlsx")
df

,No Participant,Nama Lengkap,"Informasi tentang kampus Institut Teknologi Telkom (ITTelkom) Surabaya, kamu dapatkan dari (pilih salah satu):",Alasan kamu memilih akan kuliah di ITTelkom Surabaya:
0,2121581649,NINDA PUTRI AULIA,"Media Sosial (IG, FB, Twitter, Youtube, TikTok...",Siap Kerja; Kampus berbasis ICT; Magang di Tel...
1,2107811187,WAHYU ADAM ANANDIKA,"Teman, Orang Tua atau Keluarga",Siap Kerja; Kampus berbasis ICT; Magang di Tel...
2,2106175057,GREFLYN FELINSTYA SALHUTERU,Website ITTelkom Surabaya (ittelkom-sby.ac.id),Siap Kerja
3,2124186690,CISA VALENTINO CAHYA RAMADHANI,Guru BK atau Sekolah,Siap Kerja; Kampus Milenial
4,2120080760,NABIL ULWAN MUHAMMAD CAESAR,"Media Sosial (IG, FB, Twitter, Youtube, TikTok...",Siap Kerja; Kampus berbasis ICT; Magang di Tel...
...,...,...,...,...
1135,2223109354,MUHAMMAD IRKHAM HIDAYAT,"Media Sosial (IG, FB, Twitter, Youtube, TikTok...",Siap Kerja; Kampus berbasis ICT; Magang di Tel...
1136,2223885866,MUHAMMAD DETRI ABDUL FIKAR,Guru BK atau Sekolah,Kampus Milenial; Kampus Berstandar Internasional
1137,2221772001,YASMIEN TAMALIN,Website ITTelkom Surabaya (ittelkom-sby.ac.id),Siap Kerja; Kampus berbasis ICT; Magang di Tel...
1138,2222049181,MOH RENDY PRASETYO P,Website ITTelkom Surabaya (ittelkom-sby.ac.id),Siap Kerja; Kampus berbasis ICT; Kampus Milenial
1139,22215636662,NURRULL ISLAM,"Spanduk, Baliho, Brosur, Flyer",Kampus berbasis ICT; Magang di Telkom Group

In [3]:
Pivot1= pd.pivot_table(df,index = "Informasi tentang kampus Institut Teknologi Telkom (ITTelkom) Surabaya, kamu dapatkan dari (pilih salah satu):",values = "Nama Lengkap", aggfunc = 'count')
Pivot1

                                                    Nama Lengkap
Informasi tentang kampus Institut Teknologi Tel...
Guru BK atau Sekolah                                         253
Koran, Radio                                                   2
Media Sosial (IG, FB, Twitter, Youtube, TikTok,...           362
Newsletter via email                                           3
Spanduk, Baliho, Brosur, Flyer                                10
Teman, Orang Tua atau Keluarga                               237
Website (smb.ittelkom-sby.ac.id)                              78
Website ITTelkom Surabaya (ittelkom-sby.ac.id)               192
Website masing-masing Prodi                                    3

In [4]:
Pivot2 = pd.pivot_table(df,values = "Nama Lengkap",index = "Alasan kamu memilih akan kuliah di ITTelkom Surabaya:", aggfunc = 'count')
Pivot2

                                                    Nama Lengkap
Alasan kamu memilih akan kuliah di ITTelkom Sur...
Kampus Berstandar Internasional                               93
Kampus Milenial                                               33
Kampus Milenial; Kampus Berstandar Internasional              11
Kampus berbasis ICT                                           89
Kampus berbasis ICT; Kampus Berstandar Internas...            13
Kampus berbasis ICT; Kampus Milenial                          11
Kampus berbasis ICT; Kampus Milenial; Kampus Be...            16
Kampus berbasis ICT; Magang di Telkom Group                    7
Kampus berbasis ICT; Magang di Telkom Group; Ka...             6
Kampus berbasis ICT; Magang di Telkom Group; Ka...             6
Kampus berbasis ICT; Magang di Telkom Group; Ka...            10
Magang di Telkom Group                                        35
Magang di Telkom Group; Kampus Berstandar Inter...             6
Magang di Telkom Group; Kampus Milenial                        4
Magang di Telkom Group; Kampus Milenial; Kampus...             4
Siap Kerja                                                   202
Siap Kerja; Kampus Berstandar Internasional                   20
Siap Kerja; Kampus Milenial                                   19
Siap Kerja; Kampus Milenial; Kampus Berstandar ...            25
Siap Kerja; Kampus berbasis ICT                               29
Siap Kerja; Kampus berbasis ICT; Kampus Berstan...            20
Siap Kerja; Kampus berbasis ICT; Kampus Milenial              19
Siap Kerja; Kampus berbasis ICT; Kampus Milenia...            33
Siap Kerja; Kampus berbasis ICT; Magang di Telk...            24
Siap Kerja; Kampus berbasis ICT; Magang di Telk...            23
Siap Kerja; Kampus berbasis ICT; Magang di Telk...            15
Siap Kerja; Kampus berbasis ICT; Magang di Telk...           254
Siap Kerja; Magang di Telkom Group                            35
Siap Kerja; Magang di Telkom Group; Kampus Bers...            37
Siap Kerja; Magang di Telkom Group; Kampus Mile...            24
Siap Kerja; Magang di Telkom Group; Kampus Mile...            16

In [7]:
data = df.groupby(['Informasi tentang kampus Institut Teknologi Telkom (ITTelkom) Surabaya, kamu dapatkan dari (pilih salah satu):', 'Nama Lengkap'])
  
data.first(1)

                                                                                  No Participant
Informasi tentang kampus Institut Teknologi Tel... Nama Lengkap
Guru BK atau Sekolah                                GEO ARDANA IHSAN PURNAMA AJI      2218700055
                                                   ABDURRACHMAN RAMADHAN FUQAHA       2127076595
                                                   ABDUSSALAM                        22028212681
                                                   ACHMAD BE GOOD RAMADAN             2128189001
                                                   ACHMAD DHANY MARCHELLIO            2121923377
...                                                                                          ...
Website ITTelkom Surabaya (ittelkom-sby.ac.id)     YULIANA                            2117229649
                                                   YURI INDARTA AL AYUBI              2208100060
Website masing-masing Prodi                        ALVINA NUR AZISA                   2202367591
                                                   DICA SEFTIANA KUSUMA              22063320231
                                                   M. FERDY IRZAMI                    2210449771

[1134 rows x 1 columns]